#list {
    display: grid;
    grid-template-columns: 50% 50%;
    .card {
        text-align: center;
        border: none;
        border-radius: 2em;
        padding: 2% 5% 2% 5%;
        margin: 1%;
        cursor: pointer;
        color: rgb(255, 250, 250);
        background-color: rgb(25, 25, 25);
        transition: 0.2s ease-in;
        &:hover{
            color: rgb(245, 230, 240);
            background-color: rgb(20, 20, 20);
        }
        h1 {
            font-weight: 100;
            margin: auto;
            font-size: 125%;
            letter-spacing: 1px;
        }
    }
}
