* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    background-color: rgb(35, 35, 35);
}

#root {
    display: grid;
    grid-template-columns: 50% 50%;
}


