header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(35, 35, 35);
    color: snow;
    padding: 0.5% 1% 1% 1%;
    h1 {
        letter-spacing: 1px;
        font-size: 300%;
    }
    span {
        font-size: 125%;
    }
    .input {
        display: flex;
        justify-content: center;
        background-color: rgb(45, 45, 45);
        padding: 0.5% 1% 0.5% 1%;
        border-radius: 2em;
        margin-top: 1%;
        img{
            width: 27px;
            height: 27px;
            transform: scaleX(-1);            
            margin: 0 2% 0 1%;
        }
        input {
            background-color: rgb(45, 45, 45);
            color: snow;
            border: none;
            outline: none;
            font-size: large;
            width: 100%;
        }
        ::placeholder{
          color: silver;  
        }
    }
}