footer {
    .previous-next {
        display: flex;
        justify-content: center;
        button {
            border: none;
            outline: none;
            background-color: rgba(245, 222, 179, 0.699);
            padding: 0.5% 1% 0.5% 1%;
            border-radius: 2em;
        }
        .previous-button{
            margin-right: 1%;
        }
    }
}